* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2 {
    margin-top: 0.75em;
    margin-bottom: 0.5em;
}

body {
    background-color: #f2f2f2;
    color: #212427;
    font-family: 'EB Garamond', 'Garamond', serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    /* font-size: 1.25rem; */
    font-size: 2rem;
}

.frame {
    width: 61.8vw;
    height: 61.8vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15.45vh;
    /* overflow: hidden; */
}

.centered {
    position: absolute;
    z-index: 1;
    top: 46.4%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.indent {
    padding-left: -2rem;
    text-indent: 2rem;
}

.outdent {
    padding-left: 2rem;
    text-indent: -2rem;
}
