* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
    font-family: "Montserrat", "Courier New", Courier, monospace;
}

.centered {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.fitted {
    width: 100%;
    height: 100%;
}

.rounded {
    border-radius: 2.5em;
}

.shadowed {
    box-shadow: 0 0.4em 0.8em 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
}